


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  width:100%;
  max-width: 100%;
}

.container form{
  padding:20px;

  background: #fff;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}
.container form .row .pay,
.container form .row .col{
  flex:1 1 250px;
}
.container form .row .pay .title,
.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.container form .row .pay .inputBox,
.container form .row .col .inputBox{
  margin:15px 0;
}
.container form .row .pay .inputBox.yape, .inputBox.paypal,
.container form .row .col .inputBox.yape, .inputBox.paypal{
  font-family: "Muli", Sans-serif;
  color: #777777;
  background-color: #F9F9F9;
  border-radius: 0px 0px 0px 0px;
  padding: 20px;
  margin: 10px 0 15px;
  display: block;
  width: 100%;
  font-size: 14px;
}
.container form .row .pay .inputBox.yape img,
.container form .row .col .inputBox.yape img{
  margin: 5px 0;
  height: 50px;
}
.container form .row .pay .inputBox.paypal img,
.container form .row .col .inputBox.paypal img{
  margin: 10px 0;
  margin-left: 10px;
  height: 30px;
}
.container form .row .pay .inputBox span,
.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}
.container form .row .pay .inputBox input,
.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}
.container form .row .pay .inputBox input:focus,
.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}
.container form .row .pay .flex,
.container form .row .col .flex{
  display: flex;
  gap:15px;
}
.container form .row .pay .flex .inputBox,
.container form .row .col .flex .inputBox{
  margin-top: 5px;
}
.container form .row .pay .inputBox a,
.container form .row .col .inputBox a{
  text-decoration: none;
}
.container form .row .pay .inputBox a img,
.container form .row .col .inputBox a img{
  margin: 0 6px;
  height: 30px;
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: linear-gradient(135deg, #c2aa76, #705f4b);
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: linear-gradient(135deg, #705f4b, #c2aa76);
}

table {
  width: 100%;
  table-layout: fixed;
  margin: auto;
  text-align: left;
  margin-bottom: 20px;    
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 3px rgba(146, 146, 146, 0);
  overflow: hidden; 
  line-height: 2.5rem;
  background-color: #ffffff;
  border-collapse: collapse; /* Combina los bordes de celdas adyacentes en uno solo */
}

tr {
  border-bottom: 1px solid #ebeced;    
}

th {
  border-color: #705f4b;
}

th, td {
  padding: 6px 10px;
  font-size: 15px;
  border: 1px solid black; 
  padding: 8px; 
}
