/* 
    Created on : Sep 11, 2023, 5:14:00 PM
    Author     : aferz
*/
.titulo {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 0.5em;
}

.ux-agregar-buscar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form-buscador {
    display: flex;
    width: 100%;
}

.form-buscador button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-buscador input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.hidden {
    display: none;
}
