.reparacion {
  margin: 0;
  background-color: rgb(247, 247, 247);
  display: flex;


}

#barra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


}

#barra {
  background-color: rgb(146, 154, 171);
  min-height: 100vh;
  row-gap: 6vh;
  min-width: 40px;
  padding: 4vh;
}

#barra a {
    color: #232323;
}

