@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

/*CUERPO INICIAL*/
body {
  margin: 0;
}

.matenimineto {
  position: fixed;
  width: 100%;
  z-index: 1;

}


.reparacion {
  margin: 0;
  background-color: rgb(247, 247, 247);
  display: flex;


}

#barra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


}

#barra {
  background-color: rgb(146, 154, 171);
  min-height: 100vh;
  padding: 0;
  padding-top: 2vh;
  row-gap: 6vh;
  min-width: 40px;
  margin-right: 30px;
}


.tmn {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/******************PARTE DE PERFIL*****************************/
#contenedor {
  flex-grow: 1;
}
.contenidoPerfil{
  
  margin: 0;
  display: flex;
  flex-direction: row;
}

.perfilE {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-left: 50px;
}

/***INTERIOR*****/
/****FOTO*******/
.imagen {
  display: flex;
  gap: 20px;

}

.imagen h1 {
  margin-left: 25px;
  font-size: 5vh;
}

.imagen-contenedor {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
  display: flex;

}

.perfilE img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}


/***CONTENIDO***/

.contenidoPerfil {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;

}


.contenidoPerfil p {
  font-size: 3vh;

}



/***********************************************/

.servicios{
  margin: 0 auto;
  max-width: 1400px;
}

body{
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  color: #242424;
  margin-bottom: 30px;
}
table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 15%);
  overflow: hidden; 
  line-height: 2.5rem;
  background-color: #ffffff;
  background-image: none;
  
}

tr {
  border-bottom: 1px solid #ebeced;
}

tr:nth-child(even) {
  background: #d8d8d8; /* Color para filas pares */
}

tr:nth-child(odd) {
  background: #f2f3f4; /* Color para filas impares */
}

th {
  text-align: center;
  color: #FFFFFF;
  background-color: rgb(113, 122, 143);
}

th,
td {
  text-align: center;
  padding: 6px 10px;
  font-size: 18px;
  white-space: nowrap; /* Evita el desplazamiento del texto hacia abajo */
  align-items: center; /* Alinea los elementos verticalmente en el centro */

}

.last-th {
  text-align: left; /* Alinea el último encabezado de columna hacia la izquierda */
}

.last-td {
  display: flex; /* Establece el diseño flexible para los elementos internos */
  justify-content: space-between; /* Alinea los elementos uno a la izquierda y otro a la derecha */
  align-items: center; /* Alinea los elementos verticalmente en el centro */

}



/* Estilo para la barra de progreso */
progress-meter {
  display: block;
  height: 10px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 1px;
  margin-right: 2rem;
  position: relative;
}

/* Estilo para el porcentaje completado */
progress-percent {
  display: block;
  height: 100%;
  border-radius: 5px;
  width: calc(var(--progress) * 1%);
  background-color: hsl(calc(120 * (var(--progress)  / 100)), 100%, 50%);
  font-size: 70%;

  color: rgb(66, 66, 66); /* Cambié el color del texto a blanco para que sea legible en la barra */
  z-index: 2; /* Aseguramos que el contenido esté en la capa superior */

}

progress-percent::after {
  counter-reset: percent var(--progress);
  content: counter(percent) '%';
  position: absolute;
  right: -2rem;
  bottom: -0.9rem;
}


/* Estilo para mostrar el porcentaje con un símbolo de verificación cuando el progreso es 100% */
progress-percent[style="--progress: 100"]::after {
  content: '✓';
  position: absolute;
  right: -1rem;
  bottom: -0.9rem;
}



state-tag{

  color: white;
  padding: 2.5px 5px;
  border-radius: 5px;
  background-color: hsl(calc(120 * (var(--progress)  / 100)), 100%, 50%);
  font-size: 80%;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);

}


/* ESTILOS BOTONES AGREGAR - ELIMINAR */
.btn-contenedor {
  width: 100%;
  max-width: 100%;
  display: flex; /* Asegura que el contenedor sea un flex container */
  justify-content: flex-end; /* Alinea el contenido a la derecha */
}
.btn-contenedor button {
  margin: 0; /* Elimina los márgenes predeterminados del botón */
}

.btn{
  display: inline-block;
  padding: 15px 25px;
  margin-right: 15px;
  border-radius: 5px;
  border: 2px solid #c0c0c0;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn:hover{
  color: #fff;
  font-weight: bold;    
  box-shadow: 0px 0px 10px 0.5px #ccc;
}
.btn.add{
  background: linear-gradient(135deg, #a9a9a9, #595858);
}
.btn.delete{
  background: linear-gradient(135deg, #595858, #a9a9a9);
}
#modal_intranet_editar_servicio .modal-dialog,
#modal_intranet_agregar_servicio .modal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
#modal_intranet_editar_servicio .modal-content,
#modal_intranet_agregar_servicio .modal-content {

  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}

#modal_intranet_editar_servicio .title,
#modal_intranet_agregar_servicio .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
#modal_intranet_editar_servicio .title::before,
#modal_intranet_agregar_servicio .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
#modal_intranet_editar_servicio .content form .user-details,
#modal_intranet_agregar_servicio .content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

/*LISTAS*/
.details-list{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.details-list:focus{
    border-color: #9b59b6;
}
/*FIN LISTAS*/
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

 form input[type="radio"]{
   display: none;
 }
 /*CONTENEDOR BOTONES */
 form .button{
   height: 45px;
   margin: 35px 0;
   display: flex;
   flex: 1 1;
   gap: 30px;
 }
 /*FIN CONTENEDOR BOTONES*/
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #a9a9a9, #595858);
 }
 form .button input:hover{
  background: linear-gradient(-135deg, #595858, #a9a9a9);
  }

  

 @media(max-width: 584px){
 #modal_intranet_editar_servicio,
 #modal_intranet_agregar_servicio{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  #modal_intranet_editar_servicio .content form .user-details,
  #modal_intranet_agregar_servicio .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  #modal_intranet_editar_servicio #modal_intranet_editar_servicio .content .category,
  #modal_intranet_agregar_servicio #modal_intranet_agregar_servicio .content .category{
    flex-direction: column;
  }
}


/****************************************************************************************/

/*CUERPO INICIAL*/
body {
  margin: 0;
}
.matenimineto {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.Dashboard {
  margin: 0;
  background-color: rgb(247, 247, 247);
  display: flex;
}
#barra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#barra {
  background-color: rgb(146, 154, 171);
  height: auto;
  padding: 0;
  padding-top: 2vh;
  row-gap: 6vh;
  min-width: 40px;
  padding: 30px;
}
a {
  text-decoration: none;
  color: black;
}
.tmn {
  cursor: pointer;
}

/******************PARTE DE PERFIL*****************************/
#contenedor {
  flex-grow: 1;
}
.contenidoPerfil{
  margin: 0;
  display: flex;
  flex-direction: row;
}
.perfilE {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
/***INTERIOR*****/
/****FOTO*******/
.imagen {
  display: flex;
  gap: 20px;
}
.imagen h1 {
  margin-left: 25px;
  font-size: 5vh;
}
.imagen-contenedor {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
  display: flex;
}
.perfilE img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/***CONTENIDO***/
.contenidoPerfil {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.contenidoPerfil p {
  font-size: 3vh;
}

a {
  color: black; /* Cambiar el color a negro */
  text-decoration: none; /* Quitar la subraya en los enlaces */
}
/***********************************************/
.registroAdm{
  margin: 0 auto;
  max-width: 1400px;
}
body{
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-family: 'Ubuntu';
  color: #333;
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0px 40px;
  color: #242424;
  margin-bottom: 30px;
  font-size: 40px;
}
.registroAdm .FormularioAdm{
  margin-top: 30px;
  padding-left: 60px;
  margin-bottom: 60px;
  padding-right: 80px;
}
.FormularioAdm .input-boxAdm, .select-boxAdm, .btn-boxAdm{
    width: 100%;
    margin-top: 20px;
    padding-left: 35px;
    margin-right: 35px;
}
.input-boxAdm label, .select-boxAdm label{
    color: #333;
    font-size: 20px;
}
.FormularioAdm .input-boxAdm input, .select-boxAdm select{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    color: #707070;
}
.btn-boxAdm input{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #7c7474;
    border-radius: 6px;
    padding: 0 15px;
    color: black;
}
.FormularioAdm .ColumnAdm{
    display: flex;
    column-gap: 15px;
}
.FormularioAdm .opcionesTurno{
    margin-top: 20px;
}
.turno-boxAdm{
    padding-left: 30px;
    width: 100%;
}
.turno-boxAdm h5{
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}
.FormularioAdm :where(.opcionesTurno,.opcion){
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.FormularioAdm .opcion{
    column-gap: 5px;
}
.FormularioAdm :where(.opcion input, .opcion label){
    cursor: pointer;
}
.TablaAdm {
  width: 100%;
  max-width:  100%;
  table-layout: fixed;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 15%);
  overflow: hidden; 
  line-height: 2.5rem;
  background-color: #ffffff;
  background-image: none;
}

.EncAdm{
  background-color: rgb(110, 116, 141);
  color:white;           
}

th,
td {
  padding: 6px 10px;
  font-size: 15px;
  overflow: hidden;
}
th:nth-child(1) {/*id*/
  width: 5%;
}
th:nth-child(2) {/*nombre*/
    width: 15%;
}
th:nth-child(3) {/*descripcion*/
  width: 40%;
}
th:nth-child(4) {/*fechaC*/
  width: 10%;
}
th:nth-child(5) {/*FechaFin*/
  width: 10%;
}
th:nth-child(6) {/*imagen*/
  width: 10%;
}

th:nth-child(7) {/*estado*/
  width: 5%;
}
th:nth-child(8) {/*estado*/
  width: 5%;
}
@media screen and (max-width:500px){
    .FormularioAdm .ColumnAdm{
        flex-wrap: wrap;
    }
}

.tamañoImagenHome{
    width: 100px;
    height: 100px;
}


Ajuste-Home{
    display: flex;
}