@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.registro2{
    border: 5px solid transparent;
    background-image: url("https://i.pinimg.com/222x/66/e1/02/66e102ad279ee69ca7f5a110855cc34e.jpg");
}
.tamaño2 {
    margin: 20px 50px;
    display: flex;
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.imgR2 {
    flex: 1;
    background-image: url("GatoLogin.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}


.reg2 {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.form ul {
    margin: 50px 0;
    padding: 0;
    list-style: none;
}

.form li {
    margin-left: -50px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#envio2 {
    display: block;
    margin: 50px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.form label {
    color: rgba(0, 0, 0, 0.2);
    font-family: 'Lilita One', cursive;
}

.form input {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    outline: none;
    backdrop-filter: blur(10px);
}

#envio2{
    font-size: 15px;
}

#envio2:hover {
    cursor: pointer;
    box-shadow: 0 4px 16px black;
    transform: scale(1.1);
    transition: all 0.2s ease;
    
  }

@media(max-width:600px) {

    .imgR2 {
        display: none;
    }

    .reg2 {
        background-image: url("GatoLogin.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

    }
    
    #envio2{
        backdrop-filter: blur(0px);
    }

    .form label {
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
    }


}