
.productos {
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.producto img {
    width: 150px;
    align-self: center;
}

.datos {
    font-size: 13px;
    color: #232323;
}

.marca {
    font-weight: bold;
}

.descripcion {
    font-weight: bold;
    line-height: 15px;
    color: inherit;
}

.descripcion:active {
    color: #0D1282;
}

.codigo {
    color: #949494;
}

.precio {
    font-size: 23px;
    font-weight: bold;
}

.btn-agregar {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #0D1282;
    color: white;
    font-weight: bold;
}

.btn-agregar:active {
    background-color: #171fb6;
}
