@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*Comienzo de ccs del style*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.header{
    background-color: #6b06be;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 60px;
    width:auto;
    transition: all 0.3s;
}

.header .logo .img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,
.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
}

.header .nav-links a:hover{
    color: #ffbc0e;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{
    font-weight: 700;
    margin-left: 20px;
    color: #1b3019;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover,
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }
}

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height: 450px){
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*carrusel*/
.carrusel {
    margin: 0;
    padding: 0;
    width: 500%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23E3C9;
  }
  .slider {
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }
          .slides {
                width: 500%;
                height: 65vh;
                display: flex;
              }
  
          .slides input{
              display: none;
          }
  
          .slide{
              width: 20%;
              transition: 2s;
              
          }
              .slide img{
                  width: 100%;
                  height: 65vh;
                  
              }
  
              .navigation-manual{
                  position: absolute;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  margin-top: 60vh;
  
  
  
              }
  
      .manual-btn{
          border: 2px solid #40D3DC;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;
      }
          .manual-btn:not(:last-child){
              margin-right: 40px;
          }
  
          .manual-btn:hover{
              background: #40D3DC;
          }
  
          #radio1:checked ~ .first{
              margin-left: 0;
          }
  
          #radio2:checked ~ .first{
              margin-left: -20%;
          }
          #radio3:checked ~ .first{
            margin-left: -40%;
        }
  
      .navigation-auto{
          position: absolute;
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: 60vh;
      }
  
      .navigation-auto div{
          border: 2px solid #40D3DC;
          padding: 5px;
          border-radius: 10px;
          transition: 1s;
      }
          .navigation-auto div:not(:last-child){
              margin-right: 40px;
          }
  
          #radio1:checked ~ .navigation-auto .auto-btn1{
              background: #40D3DC;
          }
  
          #radio2:checked ~ .navigation-auto .auto-btn2{
              background: #40D3DC;
          }
          #radio3:checked ~ .navigation-auto .auto-btn3{
            background: #40D3DC;
        }
/*contenido*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/*slider*/

.head{
    width: 98%;
    height: 100px;
    margin: 0 auto;
    /*background: gray;*/
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}
.head p span{
    font-size: 60px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
.head p span:hover{
    background: #222;
    color: white;
}

.slider{
    width: 100%;
    height: 100%;
    /*background: red;*/
    margin: auto;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
section::-webkit-scrollbar{
    display: none;
}
section .product{
    
    min-width: 24%;
    height: 90%;
    background: whitesmoke;
    margin:  0 20px  0 0;
    border-radius: 20px;
    position: relative;
    left: 0;
    transition: 0.5s;

}
picture{
    width: 100%;
    height: 70%;
    padding: 20px;
    /*background: green;*/
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
}
picture img{
    width: 100%;
}
.detail,
		.button{
			width: 90%;
			/*background: red;*/
			margin: auto;
			padding: 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			font-size: 20px;
			color: #444;
		}
        small{color: #555;}
		.button>a{
			text-decoration: none;
			padding: 6px 14px;
		    font-size: 15px;
		    margin: 5px 0 0 20px;
		    display: inline-block;
		    background: #6773ff;
		    color: white;
		}
		p.star{
			margin: 5px auto;
		    width: 65%;
		    font-size: 25px;
		    color: #808080;
		}
		@media (max-width: 768px) {
			.text h1{
				font-size: 35px;
			}
			.text p{
				width: 90%;
			}
			header h1{
				font-size: 25px;
			}
			header p span{
				font-size: 30px;
			}
			section .product {
				min-width: 49%;
				margin:  0 10px  0 0;
			}
			.detail, .button{
				font-size: 16px;
			}
			a{
				padding: 6px 10px;
			}
		}

section {
    background-color: #fdfbfb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

img {
    width: 250px;
    margin-bottom: 10px;
}

a.button {
    display: inline-block;
    background-color: #333;
    color: #f7f5f7;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
        cursor: pointer;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #555;
}




/*footer*/
footer {
    background-color: #070707;
    color: #f6f1f1;
    text-align: center;
    padding: 1em 0;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.section div{
    display: flex;
    flex-direction: column;
}
div h2{
    color: white;
    padding: 10px 0 ;

}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
.derechos{
    background-color: #4B4B4B;
    width: auto;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}
    
