@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');

/*CUERPO INICIAL*/
body {
  margin: 0;
}
.matenimineto {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.Dashboard {
  margin: 0;
  background-color: rgb(247, 247, 247);
  display: flex;
}
#barra {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#barra {
  background-color: rgb(146, 154, 171);
  min-height: 100vh;
  padding: 0;
  padding-top: 2vh;
  row-gap: 6vh;
  min-width: 40px;
  padding: 30px;
}
a {
  text-decoration: none;
  color: black;
}
.tmn {
  cursor: pointer;
}

/******************PARTE DE PERFIL*****************************/
#contenedor {
  flex-grow: 1;
}
.contenidoPerfil{
  margin: 0;
  display: flex;
  flex-direction: row;
}
.perfilE {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
/***INTERIOR*****/
/****FOTO*******/
.imagen {
  display: flex;
  gap: 20px;
}
.imagen h1 {
  margin-left: 25px;
  font-size: 5vh;
}
.imagen-contenedor {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
  display: flex;
}
.perfilE img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/***CONTENIDO***/
.contenidoPerfil {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.contenidoPerfil p {
  font-size: 3vh;
}

/***********************************************/
.registroAdm{
  margin: 0 auto;
  max-width: 1400px;
}
body{
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-family: 'Ubuntu';
  color: #333;
  justify-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0px 0 0px 40px;
  color: #242424;
  margin-bottom: 30px;
  font-size: 40px;
}
.registroAdm .FormularioAdm{
  margin-top: 30px;
  padding-left: 60px;
  margin-bottom: 60px;
  padding-right: 80px;
}
.FormularioAdm .input-boxAdm, .select-boxAdm, .btn-boxAdm{
    width: 100%;
    margin-top: 20px;
    padding-left: 35px;
    margin-right: 35px;
}
.input-boxAdm label, .select-boxAdm label{
    color: #333;
    font-size: 20px;
}
.FormularioAdm .input-boxAdm input, .select-boxAdm select{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    color: #707070;
}
.btn-boxAdm input{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #7c7474;
    border-radius: 6px;
    padding: 0 15px;
    color: black;
}
.FormularioAdm .ColumnAdm{
    display: flex;
    column-gap: 15px;
}
.FormularioAdm .opcionesTurno{
    margin-top: 20px;
}
.turno-boxAdm{
    padding-left: 30px;
    width: 100%;
}
.turno-boxAdm h5{
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}
.FormularioAdm :where(.opcionesTurno,.opcion){
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.FormularioAdm .opcion{
    column-gap: 5px;
}
.FormularioAdm :where(.opcion input, .opcion label){
    cursor: pointer;
}
.TablaAdm {
  width: 100%;
  max-width:  100%;
  table-layout: fixed;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 15%);
  overflow: hidden; 
  line-height: 2.5rem;
  background-color: #ffffff;
  background-image: none;
}

.EncAdm{
  background-color: rgb(110, 116, 141);
  color:white;           
}

th,
td {
  padding: 6px 10px;
  font-size: 15px;
}
th:nth-child(1) {/*id*/
  width: 5%;
}
th:nth-child(2) {/*nombre*/
    width: 15%;
}
th:nth-child(3) {/*apellido*/
  width: 15%;
}
th:nth-child(4) {/*doc*/
  width: 10%;
}
th:nth-child(5) {/*telf*/
  width: 8%;
}
th:nth-child(6) {/*correo*/
  width: 15%;
}
th:nth-child(7) {/*cargo*/
    width: 7%;
}
th:nth-child(8) {/*turno*/
    width: 5%;
}
th:nth-child(9) {/*usuario*/
    width: 10%;
}
th:nth-child(10) {/*contra*/
    width: 10%;
}
th:nth-child(11) {/*estado*/
  width: 5%;
}
th:nth-child(12) {/*estado*/
  width: 5%;
}
th:nth-child(13) {/*estado*/
  width: 5%;
}
@media screen and (max-width:500px){
    .FormularioAdm .ColumnAdm{
        flex-wrap: wrap;
    }
}